/* Ensure the parent container accounts for the slideshow */
.card-content {
  position: relative; /* Ensure the slideshow is positioned relative to this container */
  padding-bottom: 300px; /* Add padding equal to the slideshow height */
}

/* Ensure the parent container is positioned relative */
.project-slideshow {
  position: absolute; /* Position the slideshow absolutely */
  bottom: 0; /* Align it to the bottom of the parent container */
  left: 0; /* Align it to the left edge */
  width: 100%; /* Maintain full width */
  height: 300px; /* Adjust height as needed */
  overflow: hidden;
}

.project-slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  animation: fade 13s infinite;
}

/* Each image starts its fade at a different time */
.project-slideshow img:nth-child(1) {
  animation-delay: 0s;
}
.project-slideshow img:nth-child(2) {
  animation-delay: 4s;
}
.project-slideshow img:nth-child(3) {
  animation-delay: 8s;
}

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}



.audio-player {
  background-color: none;
  height: 30px;
  width: 100%;
}


@media (prefers-color-scheme: dark) {
  .audio-player {
    filter: invert(1); /* Invert colors for dark mode */
  }
}

.skill {
  background-color: var(--bulma-primary);
  color: black; 
  border-radius: 15px; /* Increase border radius for a smoother look */
  font-size: 18px; /* Slightly larger font size */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text inside the skill box */
  padding: 15px; /* Add padding for better spacing */
  margin: 10px auto; /* Center the skill box horizontally and add vertical spacing */
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effect */
}

.skill:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.skill_logo {
  font-size: 40px; /* Increase icon size */
}